<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <properties resource="dbcp.properties">
        
    </properties>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">

        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="cn.ntboy.util.DBCPDataSourceFactory">
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="driverClassName" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="connectionProperties" value="useUnicode=true;characterEncoding=UTF-8;"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="cn.ntboy.repository"/>
    </mappers>
</configuration>